.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
inst/*.a
inst/gdal
inst/proj
src/libs/filesystem/src/*.o
src/libs/serialization/src/*.o
src/libs/system/src/*.o
windows
src/Makevars
config.*
autom4te.cache
RFate.Rproj

